@keyframes pisca {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  margin: 20px;
}

.urna {
  background-color: #dbd5c9;
  padding: 30px;
  display: flex;
  border: 1px solid black;
}

.tela {
  width: 500px;
  height: 320px;
  background: linear-gradient(to right, #e8e8e8, #c1c1c1);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.teclado {
  background-color: #403a3a;
  margin-left: 30px;
}

.teclado--linha {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.teclado--botao {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 80px;
  height: 55px;
  background-color: black;

  margin: 3px;
  color: white;
  font-size: 25px;

  cursor: pointer;
  box-shadow: 2px 2px 0px #555;
}

.teclado--botao:hover {
  background-color: #e5e5e5;
  color: black;
}

.botao--branco,
.botao--corrige,
.botao--confirma {
  padding: 0 3px;
  justify-content: center;
  color: black;
  background-color: #ccc;
  font-weight: bolder;
  font-size: 13px;
  height: 40px;
}

.botao--corrige {
  background-color: #f87000;
}

.botao--confirma {
  background-color: #0da10d;
  width: 80px;
  height: 50px;
}

.teclado--botao.botao--confirma:hover {
  background-color: greenyellow;
  color: black;
}

.teclado--botao.botao--corrige:hover {
  background-color: orange;
  color: black;
}

.teclado--botao.botao--branco:hover {
  background-color: white;
  color: black;
}

.d-1 {
  display: flex;
  flex: 1;
}

.d-1-left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.d-1-1,
.d-1-2,
.d-1-3 {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.d-1-1,
.d-1-3 {
  padding-left: 25px;
  justify-content: left;
}

.numero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 40px;
  border: 1px solid black;
  margin: 2px;
  font-size: 20px;
}

.pisca {
  animation-name: pisca;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

.d-1-4 {
  display: flex;
  flex: 1;
  align-items: center;
  line-height: 30px;
  padding: 0 0 0 25px;
}

.d-1-right {
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.d-1-image {
  border: 1px solid black;
  background-color: #fff;
  text-align: center;
  font-size: 14px;
}

.d-1-image img {
  width: 100%;
}

.d-1-image.small {
  width: 80%;
  font-size: 12px;
}

.d-2 {
  line-height: 18px;
  height: 55px;
  border-top: 1px solid black;
  background-color: #ccc;
  padding: 10px;
  font-size: 14px;
}

.d-2 span:nth-child(2) {
  background-color: #0da10d;
  padding: 0px 2px;
  color: white;
}

.d-2 span:nth-child(4) {
  background-color: #f87000;
  padding: 0px 2px;
  color: white;
}
